body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
}

.wrapped-columns {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
    justify-content: space-around;
}
