.recommendation-wrapper {

}

.recommendation-item {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    padding: 1.25rem 0.25rem;
    margin-bottom: 1.25rem;
    background: #fefefe;
    border-radius: 1.75rem;
}

.recommendation-item .recommendation-name {
    border-bottom: 1px solid #f39200;
    text-transform: capitalize;
    color: #030d12;
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
}

.recommendation-item .recommendation-content {
    padding: 0.75rem;
    color: #0b1d27;
}

.recommendation-item .recommendation-content b {
    color: #1f3c48;
    font-stretch: extra-condensed;
    text-transform: uppercase;
    font-weight: 350;
    font-size: 0.75rem;
}