{{ $tool := .tool }}
{{ $name := $tool.name }}
{{ $image := $tool.image }}
{{ $author := $tool.authors}}
{{ $link := $tool.link}}
{{ $description := $tool.description}}

<div class="recommendation-item revealOnScroll delay-1" data-animation="fadeInLeft">
    <div class="recommendation-title">
        <h3 id={{ replace $name " " "-" | lower }}>{{ $name }}</h3>
    </div>
    <div class="recommendation-content">
        <div class="recommendation-image">
            <a href="{{ $link }}" target="_blank" rel="noreferrer">
                {{if $image}}
                <img src="/images/tools/$image"/>
                {{else}}
                <img src="/images/tools/tool_default.png"/>
                {{end}}
            </a>
        </div>
        <div class="recommendation-text">
            {{if $description}}
            <div class="recommendation-description text-item">
                <b>description:</b>
                <p>{{ $description }}</p>
            </div>
            {{end}}
            {{if $link}}
            <div class="link text-item">
                <b>link:</b>
                <a href="{{ $link }}" target="_blank" rel="noreferrer">{{ $link }}</a>
            </div>
            {{end}}
            {{if $author}}
            <div class="author text-item">
                <b>by:</b>
                {{ $author }}
            </div>
            {{end}}
        </div>
    </div>
</div>