body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
}

.wrapped-columns {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
    justify-content: space-around;
}

.chapter {
    padding: 1.125rem;
    margin-bottom: 2.5rem;
}

.chapter_summary {

}

.nav-item {
    display: block;
    font-weight: 350;
    color: #f39200;
    margin: 0.5rem;
}

.page-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px solid #f39200;
    margin-top: 4.275rem;
    padding: 1.25rem;
    font-weight: 450;
}

.content-hero {
    margin-top: 2.25rem;
    margin-bottom: 1.25rem;
}

.hero-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 800px) {
    .hero-links {
        flex-direction: column;
    }
}


.hero-link {
    margin: 0.45rem 1.25rem;
}

.content ul {
    margin-top: 0.45rem;
}

.content ul li {
    margin-bottom: 1.25rem;
}

.content a {
    color: #b56f07;
    font-weight: 600;
}

.content a:hover {
    color: #f39200;
    font-weight: 600;
}

.content .reference a {
    font-size: 0.925rem;
    text-transform: uppercase;
    font-weight: 600;
}