@font-face {
    font-family: literta;
    url('/fonts/literta-font')
}

body {
    font-family: literta, "Gill Sans", 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.75rem;
}

@media all and (max-width: 800px) {
    body {
        font-size: 14px;
        line-height: 1.65rem;
    }

    .wide {
        margin-left: -2.75rem;
        margin-right: -2.75rem;
    }

    .footer .columns {
        margin-left: -0.25rem;
        margin-right: -0.25rem;
    }

    .title.is-1 {
        font-size: 2.75rem;
    }
}

.wrapped-columns {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
    justify-content: space-around;
}

.chapter {
    padding: 1.125rem;
    margin-bottom: 2.5rem;
}

.chapter a {
    color: #9c671a;
}

.chapter a:hover {
    color: #f39200;
}

.container a {
    color: #9c671a;
}

.container p a {
    text-decoration: underline;
}

.container a:hover {
    color: #f39200;
}

.chapter_summary {

}

.nav-item {
    display: block;
    font-weight: 350;
    color: #f39200;
    margin: 0.5rem;
}

.page-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px solid #f39200;
    margin-top: 4.275rem;
    padding: 1.25rem;
    font-weight: 450;
}

.content-hero {
    margin-top: 2.25rem;
    margin-bottom: 1.25rem;
}

.hero-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-body {
    padding: 5rem 4.5rem;
}

@media (max-width: 800px) {
    .hero-links {
        flex-direction: column;
    }
}

.hero-link {
    margin: 0.45rem 1.25rem;
}

.title.is-3 {
    font-size: 2.25rem;
    letter-spacing: 0.125rem;
}

.content {
    text-align: justify;
    text-align-all: left;
    text-justify: inter-word;
    text-wrap: pretty;
    letter-spacing: 0.05rem;
    text-indent: 1.65em;
}

@media all and (max-width: 800px) {
    .content {
        text-indent: 0.65em;
    }
}

.content p::first-letter {
    font-size: 1.25em;
    font-weight: 500;
    color: #1c3337;
    margin-right: -0.05rem;
}

.content h2, h3, h4 {
    text-align: left;
    text-indent: 0;
    margin-bottom: 0.75em;
}

.content:not(.pattern) h2 {
    clear: both;
}

.content h3 {
    font-size: 1.35em;
}
.content:not(.pattern) h3 {
    clear: both;
}

.content h4 {
    font-size: 1.15em;
    margin-top: 2.125em;
    color: #556975;
}

.content:not(.pattern) h5 {
    clear: both;
}

.content ul {
    margin-top: 0.85rem;
    text-indent: 0;
}

.content ul li {
    margin-bottom: 0.45rem;
    text-align: left;
}

.content a {
    color: #b56f07;
    font-weight: 600;
}

.content a:hover {
    color: #f39200;
    font-weight: 600;
}


@media all and (max-width: 800px) {
    .content pre {
        padding: 0.75em 0.25em;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        text-indent: 0.25rem;
        tab-size: 2;
    }

    pre code {
        text-indent: -0.75rem;
    }
}

.reference {
    max-width: 100%;
    word-break: break-word;
    font-size: 0.85rem;
}

.reference a {
    font-weight: 600;
}

.content .reference a {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
}

.content .footnotes ol li {
    margin: 1.25rem 0;
}

.content em {
    font-style: italic;
    color: #3c5d79;
    font-family: Georgia, serif;
    font-size: 0.975rem;
    font-kerning: auto;
    letter-spacing: 0.02em;
}

.highlight {
    margin: 2.75rem 0;
    font-size: 0.95rem;
    line-height: 1.5rem;
}

.increased-width {
    max-width: 80%;
}

.spacer-wide {
    width: 48% !important;
}

.title-wrapper {
    margin-bottom: 3.75rem;
}

.footer-logo {
    display: flex;
}

.company-name {
    font-weight: 900;
    margin-left: 0.125rem;
    border-bottom: 2px solid #1e75c0;
    padding-left: 0.75rem;
    padding-right: 0.25rem;
}

.company {
    flex-basis: 200px;
}

.company-info {
    color: #98a9c3;
    font-size: 0.75rem;
    font-weight: 450;
    line-height: 1.75;
    margin-top: 0.125rem;
    padding: 0.125rem 0 0 3.45rem;
}

.company-info a {
    color: #98a9c3;
}

.company-info a:hover {
    color: #fefefe;
}

pre {
    text-indent: 0;
}
@media all and (max-width: 800px) {

    .content    pre {
        text-indent: 0.75rem;
        padding-left: 2rem;
    }
}

.pattern-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    align-content: center;
}

.pattern-buttons-title {
    font-size: 0.9rem;
    color: #f39200;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    display: block;
    margin-bottom: 0.75rem;
}

.fitted {
    width: fit-content;
}

.title-wrapper {
    max-width: 600px;
}

.vert-align {
    align-content: center;
}

.media .content {
    text-align: justify;
    text-justify: inter-word;
    text-wrap: pretty;
    letter-spacing: 0.05rem;
    text-indent: 0;
}

.has-text-centered {
    text-align: center;

    .title {
        text-align: center;
    }

    .subtitle {
        text-align: center;
    }
}

#practices {
    padding-top: 0.75rem;
}

#concepts {
    padding-top: 0.75rem;
}

.half-width {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

@media all and (max-width: 800px) {
    .half-width {
        max-width: 100%;
    }
}
