.img-gallery {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: auto;
    text-align:  center;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    border-radius: 0.75rem;
}

.img-gallery figure {
    background: rgba(254, 244, 238, 0.15);
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    margin-bottom: 1.25rem;
    clear: both;
}

.img-gallery figure img{
    padding: 0.75rem 0.75rem 0rem;
    max-width: 100%;
    height: auto;
    align-content: center;
    display: block;
    object-fit: contain;
}

.img-gallery figcaption {
    text-align: center;
    color: #1f3c48;
    background: rgba(254, 244, 238, 0.15);
    font-size: 0.975rem;
    font-weight: 350;
    font-style: oblique;
    padding-bottom: 0.5rem;
}

.text_image {
    max-height: 65rem;
    max-width: 50rem;
    text-align: center;
    width: auto;
    height: auto;
    object-fit: contain;
}

.text_image a {
    object-fit: contain;
    cursor: zoom-in;
}

.text_image a img {
    max-height: 65rem;
    max-width: 50rem;
    width: 95%;
}



@media (max-width: 800px) {
    .text_image {
        max-width: 98%;
        max-height: 480px;
        margin-left: -0.25rem;
        margin-right: -0.5rem;
    }

    .text_image a img {
        max-width: 100%;
        max-height: 480px;
    }
}

.center {
    clear: both;
    margin: auto;
}

.left {
    float: left;
    clear: both;
    padding: 0 1.5rem 0 0.125rem;
    margin-right: 0.75rem;
}

.right {
    float: right;
    clear: both;
    padding: 0 0.125rem 0 1.5rem;
    margin-left: 0.75rem;
}

@media (max-width: 800px) {
    .left {
        float: none;
        max-width: 100% !important;
    }

    .right {
        float: none;
        max-width: 100% !important;
    }
}