.pattern_container {
    background-color: rgba(255, 248, 244, 0.55);
    border-top: 2px solid #F39200;
    margin-bottom: 3.5rem;
    padding: 1.125rem 0.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-content: center;
    justify-content: start;
    flex-basis: 340px;
    scroll-snap-type: x mandatory;
    scrollbar-color: #F39200 #fff;
    scrollbar-width: thin;
}

.pattern_container::-webkit-scrollbar {
    height: 1.125rem;
}

.pattern_container::-webkit-scrollbar-thumb,
.pattern_container::-webkit-scrollbar-track {
    border-radius: 6rem;
}

.cards::-webkit-scrollbar-thumb {
    background: #F39200;
}

.cards::-webkit-scrollbar-track {
    background: #F39200;
}


@media (max-width: 800px) {
    .pattern_container {
        flex-direction: row;
        overflow-x: scroll;
        padding: 0.65rem 0.25rem;
    }
}

.pattern-card {
    display: flex;
    flex-shrink: 0;
    flex-flow: column nowrap;
    justify-content: start;
    width: calc(calc(100% / 3) - 1.25rem);
    margin: 0.35rem 0.5rem 0.35rem 0.25rem;
    align-content: normal;
    background-image: linear-gradient(#fefefe, #fdfdfd);
    border-radius: 3px;
    border: 1px solid rgba(224, 205, 193, 0.99);
    padding: 1.125rem;
    scroll-snap-align: start;
}

@media (max-width: 800px) {
    .pattern-card {
        width: calc(calc(100%) - 0.15rem);
        flex-shrink: 0;
        margin: 0.15rem 0.35rem 0.15rem 0;
    }
}

.pattern-card .card-icon img {
    height: 120px;
    margin-top: 20px;
}

.pattern-card .card-title {
    margin-bottom: 0.5rem;
    flex-grow: 1;
    align-content: center;
}

.pattern-card .card-title h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #1e1e3f;
    padding: 0 0.75rem;
}

.pattern-card .card-title h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 450;
    color: #4a4a77;
    padding: 0 0.75rem;
    line-height: 1.25;
}

.pattern-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    height: 100%;
}

.card-stretch {
    flex-grow: 1;
}

.pattern-card .card-text {
    color: #2c3e50;
    padding-left: 0.25rem;
    font-size: 0.9rem;
    text-align: justify;
    text-align-last: left;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
}

.pattern-card .card-text p {
    padding: 0 0.5rem;
    margin-top: 1.25rem;
    /*text-align: justify;*/
    text-justify: inter-word;
    word-break: break-word;
}

.pattern-card .card-text p .item-title {
    color: #1f586f85;
    font-stretch: extra-condensed;
    text-transform: uppercase;
    font-weight: 350;
    font-size: 0.75rem;
    display: block;
}

.pattern-card .card-action {
    padding-top: 0.5rem;
    margin-bottom: 0.25rem;
    margin-top: 0.45rem;
    display: flex;
    justify-content: end;
}

.pattern-list {
    margin-top: 3.75rem;
}

.pattern-list .subtitle::after {
    content: 'scroll for more >>';
    font-size: 0.65rem;
    font-weight: 650;
    color: #f39200;
    text-transform: uppercase;
    text-shadow:
            2px 2px 0 #fbfbfb,
            -2px 2px 0 #fbfbfb,
            -2px -2px 0 #fbfbfb,
            2px -2px 0 #fbfbfb;
    text-align: right;
    position: absolute;
    right: 0;
    padding-top: 1.5rem;
}

@media (max-width: 800px) {
    .pattern-list .subtitle::after {
        content: 'swipe for more >>';
    }
}

.pattern-tags {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 0.5rem;
    max-width: 100%;
    margin-top: 0.65rem;
    margin-bottom: 0.25rem;
}

.summary-content .pattern-tags {
    justify-content: end;
    padding: 0 0;
    gap: 0.1rem;
}

.summary-content .pattern-tags .pattern-tag {
    font-size: 0.7rem;
}

.pattern-tags .pattern-tag {
    display: block;
    font-size: 0.65rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    color: #7d4b01;
    background: #f9d3b265;
    text-transform: uppercase;
    border-radius: 0.25rem;
    margin: 0 0.5rem 0.5rem 0;
}

.pattern-tags .pattern-tag a {
    color: #7d4b01;
}

.pattern-tags .pattern-tag a:hover {
    color: #f39200;
}

.fa-circle-info {
    font-size: 0.65rem;

    color: #34626f;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.pattern-summary {
    display: flex;
    flex-shrink: 0;
    flex-flow: column nowrap;
    justify-content: start;
    width: calc(calc(100% / 3) - 1.25rem);
    align-content: normal;
    background-image: linear-gradient(#fefefe, #fdfdfd);
    border-radius: 3px;
    border: 1px solid rgba(224, 205, 193, 0.99);
    padding: 1.125rem;
    scroll-snap-align: start;
    float: right;
    margin: 0.25rem 0.25rem 3rem 4.5rem;
}

.card-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 0.5rem;
}

.card-image img {
    border-radius: 1.5rem;
    border: 2px solid #34626f;
    max-width: 90%;
    width: auto;
    height: auto;
}

.card-title-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    gap: 0.125rem;
}

@media (max-width: 800px) {
    .card-title-wrapper {
        flex-direction: column;
    }
}


.card-title-wrapper .card-image {
    max-width: 8rem;
    max-height: 8rem;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.card-title-wrapper .card-image img {
    border-radius: 3.75rem;
    overflow: hidden;
}

.pattern-summary .card-title-wrapper .card-title h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #1e1e3f;
    padding: 0 0.75rem;
    text-align: center;
    justify-content: center;
}

.pattern-summary .summary-title {
    padding: 0 0.5rem;
    align-content: center;
    color: #1f586f85;
    font-stretch: extra-condensed;
    text-transform: uppercase;
    font-weight: 350;
    font-size: 0.6rem;
    display: block;
    line-height: 0.95rem;
    max-width: 20%;
}

.pattern-summary .summary-content {
    font-size: 0.75rem;
    padding: 0 0.5rem;
    line-height: 1.25;
    text-align: right;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pattern-summary .summary-item .summary-formats {
    font-size: 0.75rem;
    padding: 0 0.5rem;
    line-height: 1.25;
    text-align: right;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    flex-direction: row;
}

.info-line {
    padding: 0.25rem;
    text-align: center;
    font-size: 0.6rem;
    font-weight: 300;
    text-transform: uppercase;
}

.summary-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.125rem;
    padding: 0.5rem;
    z-index: 500;
}

@media (max-width: 800px) {
    .pattern-summary {
        width: 100%;
        flex-shrink: 0;
        margin: 0.15rem 0.35rem 2.5rem 0;
        float: none;
        padding: 0.25rem;
    }
}



.ammerse {
    margin-top: 0.5rem;
}

.ammerse-values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.125rem;
    padding: 0.5rem;
    gap: 0.25rem;
}

.ammerse-values .ammerse-value {
    display: block;
    font-size: 0.75rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    text-align: center;
    flex: 1 1 0px;
    align-content: center;
}

.base {
    color: #7d4b0165;
    border: 1px solid #7d4b0165;
}

.up {
    color: #256f82;
    border: 1px solid #256f8265;
}

.double-up {
    color: #056780;
    border: 1px solid #256f8265;
}

.down {
    color: #ab101b;
    border: 1px solid #ab101b65;
}

.double-down {
    color: #ab101b;
    border: 1px solid #ab101b65;
}