/* Some vars */
.small-padding {
    padding: 0.5rem !important;
}

.brooks {
    position: relative;
    font-family: 'Sanchez', serif;
    font-size: 2.4em;
    line-height: 1.5em;
    font-style: italic;
}

.brooks:before {
    content: '\201C';
    position: absolute;
    top: 0.25em;
    left: -0.15em;
    color: #e6e6e6;
    font-size: 6em;
    z-index: -1;
}

.ludwig {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid #4d91b3;
    font-family: 'Roboto', serif;
    font-size: 2.4em;
    line-height: 1.5em;
    font-weight: 100;
}

.ludwig:before, .ludwig:after {
    content: '\201C';
    font-family: 'Sanchez';
    color: #4d91b3;
}

.ludwig:after {
    content: '\201D';
}

.groucho {
    position: relative;
    font-family: 'Sanchez', serif;
    font-size: 1.3em;
    line-height: 1.4em;
    color: #0b121b;
}

.groucho footer {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.6em;
    font-weight: 700;
    color: #d1d1d1;
    text-align: right;
    margin-top: 1.75rem;
}

.groucho footer:before {
    content: '\2015';
    box-sizing: border-box;
}

/* Some generic stuff. Don't worry about it */
/* Some generic stuff. Don't worry about it */
.content blockquote {
    margin: 0 0 0 0;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    text-align: justify-all;
    font-style: oblique;
    text-indent: 0;
}

.alert-container {
    padding: 1.75rem;
    margin: 1.75rem 0 1.75rem 0;
}

.quote {
    color: #1f2226;
    border-left: 5px solid #471a8b !important;
}

.quote:after {
    content: '\201D';
    position: absolute;
    top: 0.28em;
    right: 0;
    font-size: 6em;
    font-style: italic;
    color: #471a8b85;
    z-index: -1;
    box-sizing: border-box;
}

.quote footer {
    color: #190735;
}

.warning {
    color: #1f2226;
    border-left: 5px solid #f0ad4e !important;
}

.warning:after {
    content: '!';
    position: absolute;
    top: 0.28em;
    right: 0;
    font-size: 3.35em;
    font-weight: 900;
    font-family: 'Operator Mono', 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-style: italic;
    color: #f0ad4e;
    z-index: -1;
    box-sizing: border-box;
}

.warning-title {
    color: #f0ad4e;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 650;
    margin-right: 0.75rem;
    padding: 0.25rem;
}

.tip {
    color: #1f2226;
    border-left: 5px solid #126fbe !important;
}

.tip-title {
    color: #126fbe;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 650;
    margin-right: 0.75rem;
    padding: 0.25rem;
}

.muted {
    border-left: 2px solid #cecece !important;
    padding: 0.75rem 1.5rem;
    text-align: justify;
    color: #1f3c48;
    font-style: italic;
    font-size: 1.125rem;
}

.muted-title {
    color: #898989;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 350;
    margin-right: 0.75rem;
}

@media (max-width: 800px) {
    .alert-container {
        padding: 0.75rem;
        margin: 1.125rem 0 1.125rem 0;
    }

    .content blockquote {
        padding: 0.95em 0.75em;
        font-size: 0.95rem;
        text-align-last: left;
        text-align: justify;
        margin-left: -0.45rem;
    }

    .quote:after {
        font-size: 2.5em;
        color: #471a8b75;
    }
}