.recommendation-wrapper {
    margin-top: 3.75rem;
}

.no-card {
    background: #fefefe;
    border: 0 !important;
    border-radius: 0 !important;
    padding: 0.25rem 0.75rem;
    width: 100%;
}

.recommendation-item .recommendation-title {
    border-bottom: 1px dashed #f39200;
    text-transform: capitalize;
    color: #030d12;
    font-size: 1.25rem;
    padding: 0.25rem 2.75rem 1.45rem;
    max-width: 98%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: flex-start;

    .recommendation-type {
        border-bottom: none;
        padding: 0.125rem 0.75rem 0.125rem 0.125rem;
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: 850;
        max-width: 6.125em;
        width: 6.125em;
        color: #3c5d79;
    }

    h3 {
        font-size: 1.45rem;
        font-weight: 550;
        color: #0b1d27;
        line-height: 1.25;
    }

    h4 {
        padding-top: 0.25rem;
        font-size: 1.25rem;
        font-weight: 40;
        color: #0b1d27;
        line-height: 1.25;
    }

    .subtitle {
        margin-bottom: 0.25rem;
    }
}

.recommendation-item {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    padding: 1.25rem 0.25rem;
    margin-bottom: 1.25rem;
    max-width: 100%;
    width: 100%;
    background: #fefefe;
    border-radius: 1.75rem;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

@media (max-width: 800px) {
    .recommendation-item .recommendation-title {
        padding: 0 0.125rem;
        flex-direction: column;
        justify-content: center;
    }
}

.recommendation-item .recommendation-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-width: 100%;
    padding: 0.75rem;
    color: #0b1d27;
}

.recommendation-item .recommendation-content .recommendation-image {
    display: flex;
    max-width: 10em;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    padding: 0.75rem;
    margin: 0.125rem 0.5rem;
    flex-direction: column;
}

.recommendation-item .recommendation-content .recommendation-image img {
    max-width: 8em;
    max-height: 14em;
    border: 2px solid #f39200;
}

.recommendation-item .recommendation-content .recommendation-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0 0.75rem 0.75rem;
    max-width: 100%;
}

.recommendation-item .recommendation-content b {
    color: #1f586f85;
    font-stretch: extra-condensed;
    text-transform: uppercase;
    font-weight: 350;
    font-size: 0.75rem;
}

.recommendation-item .recommendation-content .recommendation-text {
    font-size: 1.125rem;
}

.recommendation-item .recommendation-content .recommendation-text .text-item {
    margin: 0.65rem 0;
}
.recommendation-item .recommendation-content .recommendation-text .reference {
    font-size: 0.95rem;
}

.recommendation-item .recommendation-content .recommendation-text .link {
    font-size: 0.95rem;
    word-break: break-all;
}

.recommendation-item .recommendation-content .recommendation-text .link a {
    color: #9c671a;
}

.recommendation-item .recommendation-content .recommendation-text .link a:hover {
    border-bottom: 1px solid #f39200;
}

@media (max-width: 800px) {
    .recommendation-item .recommendation-content {
        flex-direction: column;
    }

    .recommendation-item .recommendation-content .recommendation-image {
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }
}

.recommendation-item .recommendation-content .recommendation-text .author {
    font-size: 0.85rem;
}

.recommendation-item .recommendation-content .recommendation-text .recommendation-tags {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 0.35rem;
    max-width: 100%;
    margin-top: 0.65rem;
}

.recommendation-item .recommendation-content .recommendation-text .recommendation-tags .recommendation-tag {
    display: block;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.35rem 0.75rem;
    color: #7d4b01;
    background: #f9d3b265;
    text-transform: uppercase;
    border-radius: 0.25rem;
    margin: 0 0.5rem 0.5rem 0;
}

.recommendation-item .recommendation-content .recommendation-text .recommendation-tags b {
    display: block;
    width: 100%;
    margin: auto 0.75rem 0.45rem 0;
}

.recommendation-item .recommendation-content .recommendation-text .recommendation-tags .recommendation-tag a {
    color: #7d4b01;
}

.recommendation-item .recommendation-content .recommendation-text .recommendation-tags .recommendation-tag a:hover {
    color: #f39200;
}

.permalink {
    display: none;
    font-size: 0.85rem;
    height: 100%;
}

.permalink a {
    color: #7d4b01;
}

.permalink a:hover {
    color: #f39200;
}