{{ define "main" }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

{{ $titles := (slice "productivity" "learning" )}}
{{ $pages := .Pages}}

<section class="section section-feature-grey is-medium" id="section1">
    <div class="container">

        <div class="column is-centered-tablet-portrait">
            <h1 class="title section-title">
                {{ .Title }}
            </h1>
            <div class="divider"></div>
        </div>

        <div class="content-wrapper">

        {{ range $categoryTitle := $titles }}
            <div class="column is-centered-tablet-portrait">
                <h2 class="subtitle">
                    {{ $categoryTitle }}
                </h2>
            </div>
            <div class="wrapped-columns">
                {{ $patterns := slice  }}
                {{ range where $pages ".Params.categories" "intersect" (slice $categoryTitle) }}
                {{ $ctx := dict
                "Date" .Date
                "Title" .Title
                "RelPermalink" .RelPermalink
                "Description"  .Description
                "Categories" .Params.categories
                }}
                {{ $patterns = $patterns | append $ctx }}
                {{ end }}
                {{ partial "flex_cards.html" (dict "context" . "patterns" $patterns) }}
            </div>
        {{ end }}
        </div>
    </div>
</section>
{{ end }}