{{ define "main" }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

{{ $titles := (slice "learning" "productivity" "communication" "software development")}}
{{ $pages := .Pages}}

<section class="section section-feature-grey is-medium" id="practices">
    <div class="container">

        <div class="column is-centered-tablet-portrait">
            <h1 class="title section-title">
                {{ .Title }}
            </h1>
            <div class="divider"></div>
        </div>

        <div class="content-wrapper">

        {{ .Content }}

        <div class="pattern-list">
            {{ range $categoryTitle := $titles }}
                <div class="column is-centered-tablet-portrait">
                    <h2 class="subtitle">
                        {{ $categoryTitle | upper }}
                    </h2>
                </div>
                <div class="wrapped-columns pattern_container">
                    {{ $patterns := slice  }}
                    {{ range where $pages ".Params.categories" "intersect" (slice $categoryTitle) }}
                    {{ $ctx := dict
                    "Date" .Date
                    "Title" .Title
                    "SubTitle" .Params.subtitle
                    "RelPermalink" .RelPermalink
                    "Description"  .Description
                    "Problem" .Params.problem
                    "Categories" .Params.categories
                    "Tags" .Params.tags
                    "Ammerse" .Params.Ammerse
                    }}
                    {{ $patterns = $patterns | append $ctx }}
                    {{ end }}
                    {{ partial "flex_cards.html" (dict "context" . "patterns" $patterns) }}
                </div>
            {{ end }}
            </div>
        </div>
    </div>
</section>

{{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
{{ end }}

{{ end }}