{{ define "main" }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}
{{ $ammerse := .Params.Ammerse }}
{{ $tags := .Params.tags }}
{{ $image := .Params.image }}
{{ $relatedConcepts := .Params.related_concepts }}
{{ $relatedPatterns := .Params.related_practices }}
{{ $further_exploration := .Params.further_exploration }}

<section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="title-wrapper has-text-centered increased-width">
                <h1 class="title is-3 section-title">{{ .Title }}</h1>
                <h5 class="subtitle is-4 is-muted">{{ .Params.Subtitle }}</h5>
                <div class="divider spacer spacer-wide"></div>
            </div>
        </div>

        <div class="pattern-summary">
            <div class="card-title">
                <h4>Meta Info</h4></a>
            </div>
            {{ if $image }}
            <div class="card-image">
                <img src="/images/{{ $image }}" alt="{{ .Title }}">
            </div>
            {{ end }}
            <div class="summary-item">
                <span class="summary-title">UUID:</span>
                <span class="summary-content"><a href="/practices/{{.Params.UUID}}" rel="noreferrer" target="_blank">{{.Params.UUID}}</a></span>
            </div>
            {{if .Params.author}}
            <div class="summary-item">
                <span class="summary-title">Author:</span>
                <span class="summary-content">{{.Params.author}}</span>
            </div>
            {{ end }}
            {{if .Params.pubdate}}
            <div class="summary-item">
                <span class="summary-title">Published on:</span>
                <span class="summary-content">{{.Params.pubdate}}</span>
            </div>
            {{ end }}
            {{if .Params.outputs}}
            <div class="summary-item ">
                <span class="summary-title">{{ .Params.outputs | len }} formats available:</span>
                <span class="summary-content summary-formats">
                    <a href="index.html" rel="noreferrer" target="_blank">HTML</a> /
                    {{ $formats := slice }}
                    {{ range $format := .Params.outputs }}
                        {{ $toAdd := $format.Name }}
                        {{ $formats = $formats | append $toAdd }}
                    {{ end }}
                    {{ if (in $formats "rss") }}
                        <a href="index.xml" rel="noreferrer" target="_blank">XML</a> /
                    {{ end }}
                    {{ if (in $formats "json") }}
                        <a href="index.json" rel="noreferrer" target="_blank">JSON</a>
                    {{ end }}
                </span>
            </div>
            {{ end }}
            {{if $ammerse}}
            <div class="summary-item">
                <span class="summary-title">Ammerse Values <a href="https://www.ammerse.org/" target="_blank" title="What is this?"><i class="fa-solid fa-circle-info"></i></a>:</span>
                <div class="summary-content">
                    <div class="ammerse-values">
                        {{ range $value := $ammerse}}
                        {{partial "ammerse.html" (dict "value" $value )}}
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
            {{ if $tags }}
            <div class="summary-item">
                <span class="summary-content full">
                        <div class="pattern-tags">
                        {{ range $index, $value := (sort $tags "value" "asc") }}
                            <span class="pattern-tag"><a href="/tags/{{ $value | urlize }}">{{ $value }}</a></span>
                        {{end}}
                        </div>
                    </span>
            </div>
            {{ end }}
        </div>


        <div class="content pattern">
            {{ .Content }}
        </div>

        <div class="content pattern related">
            {{ if $further_exploration }}
                <h2>Further Exploration</h2>

                {{ partial "references.html" . }}

            {{ end }}
            {{ if $relatedConcepts }}
            <h2>Related Concepts</h2>
            <ul>
                {{ range where .Site.Pages ".Params.Uuid" "in" $relatedConcepts }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>: {{ .Description }}</li>
                {{ end }}
            </ul>
            {{ end }}
            {{ if $relatedPatterns }}
            <h2>Related Patterns</h2>
            <ul>
                {{ range where .Site.Pages ".Params.Uuid" "in" $relatedPatterns }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>: {{ .Description }}</li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</section>

<section class="section comments">
    <div class="container">
        <script src="https://giscus.app/client.js"
                data-repo="sddevelopment-be/penguin-pragmatic-patterns"
                data-repo-id="MDEwOlJlcG9zaXRvcnkzMzg3NjE5NDE="
                data-category="Pattern Comments"
                data-category-id="DIC_kwDOFDEY1c4CBILi"
                data-mapping="pathname"
                data-strict="1"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="top"
                data-theme= "light"
                data-lang="en"
                data-loading="lazy"
                crossorigin="anonymous"
                async>
        </script>
    </div>
</section>

{{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
{{ end }}

{{ end }}