{{ define "main" }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

<section class="section section-feature-grey is-medium" id="glossary">

    <div class="hero-body">
        <div class="container">
            <div class="wide columns is-vcentered">
                <div class="column is-7 is-offset-1 landing-caption">
                    <h1 class="title is-1 is-bold is-spaced">
                        {{ .Title }}
                        <div class="divider"></div>
                    </h1>
                    {{ .Content }}
                </div>
                <div class="column is-3 is-offset-1">
                    <figure class="image is-1by1">
                        <img src="{{ printf "images/glossary_image.webp" | relURL }}" alt="Glossary hero image">
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        
        <div class="content-wrapper">

            <div class="terminology-wrapper">
                {{ $fileToUse := "glossary" }}
                {{ if ne .Site.Language.Lang "en" }}
                    {{ $fileToUse := (printf "glossary_%s" .Site.Language.Lang ) }}
                {{ end }}
                {{ range $terminology := (sort (index .Site.Data $fileToUse).terminology "name" "asc" ) }}
                    {{ partial "glossary_term.html" (dict "term" $terminology) }}
                {{ end }}
            </div>

        </div>

    </div>
</section>

{{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
{{ end }}

{{ end }}