{{ define "main" }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

{{ partial "title-section.html" . }}

<section class="section section-feature-grey is-medium" id="tags">
    <div class="content">
        {{ .Content }}
    </div>
    <div >
        <ul class="tag-wrapper">
            {{if .Data.Terms }}
                {{ range .Data.Terms.Alphabetical }}
                    <li class="tag-block"><a href="{{ .Page.Permalink }}" class="tag-name">{{ .Page.Title }}</a> <span class="tag-count">{{ .Count }}</span></li>
                {{ end }}
            {{ else }}
                No content with tags found.
            {{ end }}
        </ul>
    </div>
</section>

{{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
{{ end }}

{{ end }}