{{ define "main" }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

{{ $tag := .Title}}

<section class="section section-feature-grey is-medium" id="practices">
    <div class="container">

        <div class="content">
            Below is an overview of content that matches the tag <i>"{{ $tag }}"</i>.
            <br /><br />
            Note that this list is not exhaustive, as it is automatically aggregated based on manually assigned categorizations.<br />
            If you notice a missing element, or think some of the items are wrongfully categorized, please create a bug/improvement ticket on our <a href="https://github.com/sddevelopment-be/penguin-pragmatic-patterns/issues" target="_blank">github issue tracker</a>.

            <br /><br />
            An overview of all tags used in this publication can be found in our tag list: <a href='{{ "/tags/" | relLangURL }}'>go to overview</a>
        </div>

        <div class="content-wrapper">
            <div class="column is-centered-tablet-portrait">
                <h2 class="title section-title">
                    Patterns: {{ .Title }}
                </h2>
            </div>
            <div class="pattern-list">
                <div class="wrapped-columns pattern_container">
                    {{ $patterns := slice  }}
                        {{ range where (where .Site.Pages ".Params.tags" "intersect" (slice $tag)) "Section" "in" (slice "practices" "concepts") }}
                        {{ $ctx := dict
                            "Date" .Date
                            "Title" .Title
                            "RelPermalink" .RelPermalink
                            "Description"  .Description
                            "Problem" .Params.problem
                            "Categories" .Params.categories
                            "Tags" .Params.tags
                            "Ammerse" .Params.Ammerse
                            }}
                            {{ $patterns = $patterns | append $ctx }}
                        {{ end }}
                    {{ partial "flex_cards.html" (dict "context" . "patterns" $patterns) }}
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="column is-centered-tablet-portrait">
                <h2 class="title section-title">
                    Resources: {{ .Title }}
                </h2>
            </div>
            <div class="pattern-list">
                <div class="recommendation-wrapper">
                    {{ range $book := (index .Site.Data "bibliography").book }}
                        {{ if and (not $book.draft) (intersect $book.tags (slice $tag))}}
                            {{ partial "book_biblio.html" (dict "book" $book) }}
                        {{end}}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}