$font-family-base: 'd-din', literta, 'Gill Sans', 'Open Sans', sans-serif;
$font-family-heading: 'd-din', 'Gill Sans', 'Open Sans', sans-serif;
$brand-primary: #f39200;
$brand-secondary: #1e75c0;
$brand-dark: #1c3337;
