
@import "./prism-coldark-dark.css";

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }

.highlight pre {
    overflow-x: scroll;
}

.rouge-code pre {
    overflow-x: hidden;
}

.lineno pre {
    overflow-x: hidden;
}

.markdown-section code, .markdown-section pre {
    background-color: #1a1e21 !important;
}

.markdown-section pre > code {
    color: #66add9;
    background-color: #1a1e21 !important;
}

.markdown-section > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) code {
    font-size: 0.8rem;
    background-color: #1a1e2115 !important;
}


