{{ $value := .value }}
{{ $delta := $value.delta }}
{{ $name := $value.name }}
{{ $rationale := $value.rationale }}

{{ $style := newScratch }}
{{ $style.Set "color" "#4682b4" }}

{{ if and (ge $delta -0.35) (lt $delta -0.1) }}
    {{ $style.Set "color" "#f49f75" }}
{{ else if and (ge $delta -0.5) (lt $delta -0.35) }}
    {{ $style.Set "color" "#f24907" }}
{{ else if (lt $delta -0.5)}}
    {{ $style.Set "color" "#cd0c1a" }}
{{ else if and (gt $delta 0.1) (le $delta 0.35)}}
    {{ $style.Set "color" "#11758e" }}
{{ else if and (gt $delta 0.35) (le $delta 0.5)}}
    {{ $style.Set "color" "#0786a6" }}
{{ else if (gt $delta 0.5)}}
    {{ $style.Set "color" "#3fb0cc" }}
{{ end }}

<div class="ammerse-item">
    <div class="ammerse-bar-row">
        <div class="ammerse-label">{{ $name | humanize}}</div>
        <div class="ammerse-bar-wrapper" style="--overlay: ' {{$delta}}';">
            <div class="ammerse-bar" style="--delta: {{$delta}}; --color: {{$style.Get "color" }};" ></div>
        </div>
    </div>
    <div class="ammerse-bar-info">
        <div class="ammerse-description">
            {{ $rationale| humanize}}
        </div>
    </div>
</div>