<section class="section comments">
    <div class="container">
        <script src="https://giscus.app/client.js"
                data-repo="sddevelopment-be/penguin-pragmatic-patterns"
                data-repo-id="MDEwOlJlcG9zaXRvcnkzMzg3NjE5NDE="
                data-category="Pattern Comments"
                data-category-id="DIC_kwDOFDEY1c4CBILi"
                data-mapping="pathname"
                data-strict="1"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="top"
                data-theme= "light"
                data-lang="en"
                data-loading="lazy"
                crossorigin="anonymous"
                async>
        </script>
    </div>
</section>