{{- $inServerMode := .Site.IsServer }}
{{- $sass         := "style.sass" }}
{{- $cssTarget    := "css/style.css" }}
{{- $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
{{- $fontName     := .Site.Params.font.name | default "Open Sans" }}
{{- $fontFace     := replace $fontName " " "+" }}
{{- $fontSizes    := delimit (.Site.Params.font.sizes | default (slice 300 400 600 700)) "," }}
{{- $fontUrl      := printf "/css/open-sans.css?family=%s:%s&display=swap" $fontFace $fontSizes }}
<link rel="icon" type="image/png" href="{{ "images/favicon.ico" | relURL }}" />

<link rel="stylesheet" type="text/css" href="{{ $fontUrl | relURL }}" />

{{- if $inServerMode }}
{{- $css := resources.Get $sass | toCSS $cssOpts }}
<link rel="preload" href="{{ $css.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
<noscript><link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}"></noscript>
{{- else }}
{{- $css := resources.Get $sass | toCSS $cssOpts | minify | fingerprint }}
<link rel="preload" href="{{ $css.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
<noscript><link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" /></noscript>
{{- end }}

<link rel="preconnect" href="https://fonts.gstatic.com" />
<link rel="preconnect" href="https://ka-f.fontawesome.com" />

{{- $icons := "js/23575b1502.js" | relURL }}
<script type="text/javascript" src="{{  $icons }}"></script>

{{- $toc := "js/sdd_toc.js" | relURL }}
<script type="text/javascript" src="{{ $toc }}"></script>

{{- $scssBaseOpts := cond $inServerMode (dict "enableSourceMap" true) (dict "outputStyle" "compressed") }}
{{- $scssBundles := slice
    (dict "source" "domains/custom.scss" "target" "css/custom.css")
    (dict "source" "domains/patterns.scss" "target" "css/patterns.css")
    (dict "source" "domains/glossary.scss" "target" "css/glossary.css")
    (dict "source" "domains/recommendations.scss" "target" "css/recommendations.css")
    (dict "source" "domains/images.scss" "target" "css/images.css")
    (dict "source" "domains/quotes.scss" "target" "css/quotes.css")
    (dict "source" "domains/taxonomies.scss" "target" "css/taxonomies.css")
}}
{{- range $bundle := $scssBundles }}
  {{- $opts := merge $scssBaseOpts (dict "targetPath" $bundle.target) }}
  {{- $scss := resources.Get (printf "styles/%s" $bundle.source) | resources.ToCSS $opts }}
  {{- $css := cond $inServerMode $scss ($scss | fingerprint) }}
  <link rel="preload" href="{{ $css.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" {{ if not $inServerMode }}integrity="{{ $css.Data.Integrity }}"{{ end }} /></noscript>
{{- end }}

{{ partial "stylesheet.html" (dict "css" "css/icons.css")  }}
{{/* Glossary styles compiled via Hugo Pipes */}}
{{/* Recommendations styles compiled via Hugo Pipes */}}
{{/* Images styles compiled via Hugo Pipes */}}
{{ partial "stylesheet.html" (dict "css" "css/toc.min.css")  }}
{{/* Quotes styles compiled via Hugo Pipes */}}
{{/* Taxonomy styles compiled via Hugo Pipes */}}
{{ partial "stylesheet.html" (dict "css" "css/ammerse.min.css")  }}
