{{ $patterns := .patterns }}
{{ if $patterns }}
    {{- range sort $patterns "Title" "Asc"}}
        <div class="pattern-card revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
                <a href="{{ .RelPermalink }}"><h4>{{ .Title }}</h4></a>
            </div>
            <div class="card-text">
                {{ if .Tags}}
                    <div class="pattern-tags">
                        {{ range $tag := .Tags }}
                        <span class="pattern-tag">{{$tag}}</span>
                        {{end}}
                    </div>
                {{ end }}

                {{if .Problem }}<p><span class="item-title">problem:</span>{{ .Problem }}</p> {{end}}
                {{if .Description }}<p><span class="item-title">description:</span>{{ .Description }}</p> {{end}}
                {{if .Ammerse}}
                    <p>
                        <span class="item-title">AMMERSE values:</span>
                    </p>

                {{ end }}
            </div>
            <div class="card-action">
                <a href="{{ .RelPermalink }}" class="button btn-align-md secondary-btn raised">Read more</a>
            </div>

        </div>
    {{- end }}
{{ else }}
    No entries yet. Check back later!
{{ end }}