{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $socialMedia := index $footer "socialmedia" }}
{{- $bulmaLogo   := index $footer "bulmalogo" }}
{{- $socialMediaTitle    := index $footer "socialmediatitle" }}
<footer class="footer footer-dark">
    <div class="container">
        <div class="columns">
            <div class="column company">
                <div class="footer-logo">
                    <img src="{{ printf "/images/logos/%s" $logo | relURL }}" alt="company logo"/>
                    <span class="company-name">SD Development BV</span>
                </div>
                <div class="company-info">
                    KBO: <a href="https://kbopub.economie.fgov.be/kbopub/zoeknummerform.html?nummer=0800943846" target="_blank">BE0800.943.846</a><br />
                    site: <a href="https://sddevelopment.be" target="_blank">sddevelopment.be</a><br />
                    <br />
                    Schubbeek 45, 3210 Lubbeek | BELGIUM
                </div>
            </div>
            {{- range $quickLinks }}
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>{{ .title }}</h3>
                    </div>
                    <ul class="link-list">
                        {{- range .links }}
                        <li>
                            <a href="{{ .link }}">
                                {{ .text }}
                            </a>
                        </li>
                        {{- end }}
                    </ul>
                </div>
            </div>
            {{- end }}
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>{{ $socialMediaTitle }}</h3>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                {{- range $socialMedia }}
                                <a class="level-item" href="{{ .link }}" alt="link to {{ .icon }}">
                                    <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                                </a>
                                {{- end }}
                            </div>
                        </nav>

                        {{- if $bulmaLogo }}
                        <a href="https://bulma.io" target="_blank">
                            <img src="{{ "/images/logos/made-with-bulma.png" | relURL }}" alt="Made with Bulma" width="128" height="24">
                        </a>
                        {{- end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
