{{- $section3   := .Site.Params.section3 }}
{{- $title      := index $section3 "title" }}
{{- $subtitle   := index $section3 "subtitle" }}
{{- $text      := index $section3 "text" }}
{{- $image      := index $section3 "image" }}
{{- $links := index $section3 "links" }}
<section class="section section-feature-grey is-medium" id="section3">
    <div class="container">

        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">{{ $title }}</h2>
            <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
        </div>

        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="content-hero">
                    {{ $text | markdownify }}
                </div>
            </div>
        </div>


        <p class="has-text-centered mt-20 hero-links">
            {{ range $link := $links }}
            <a class="button cta is-large rounded secondary-btn raised hero-link" href="{{ $link.link }}">
                {{ $link.text }}
            </a>
            {{ end }}
        </p>
    </div>
</section>