{{ define "main" }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

{{ partial "title-section.html" . }}

<section class="section section-feature-grey is-medium" id="tools">
    <div class="container">

        <div class="content-wrapper">

            {{ .Content }}

            <div class="recommendation-wrapper">
                {{ range $tool := (sort (index .Site.Data "tools").tool "name" "asc") }}
                    {{ partial "tool.html" (dict "tool" $tool) }}
                {{ end }}
            </div>

        </div>

    </div>
</section>

{{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
{{ end }}

{{ end }}