@use "../settings" as *;

html {
    scroll-behavior: smooth;
}

.table-of-content-container {
    font-family: d-din, "Gill Sans", 'Open Sans', sans-serif;
}

@media (width <= $breakpoint-desktop) {
    .table-of-content-container {
        display: none;
    }
}

@media (width >= $breakpoint-desktop) {
    /* Sidebar Navigation */
    .table-of-content-container {
        font-weight: 500;
        margin-top: $space-card;
        padding-top: 3.125rem;
        padding-left: $space-sm;
        padding-bottom: $space-3xl;
        border-left: $border-width-thin solid rgba($brand-secondary, 0.31);
        border-radius: $space-3xs;
        position: sticky;
        top: 2rem;
        align-self: start;

        h2 {
            font-size: $space-sm;
            font-weight: 650;
            margin-bottom: $space-sm;
            color: rgba($brand-secondary, 0.46);
            width: 100%;
            padding-left: $space-3xs;
            text-transform: uppercase;
        }

        ul, ol {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin-left: 1rem;
        }
    }

    .table-of-content-container a {
        text-decoration: none;
        display: block;
        padding: .125rem $space-2xs;
        color: #ccc;
        transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
    }

    .section-nav a {
        transition: all 75ms ease-in-out;
    }

    .active > a,
    .table-of-content-container a:hover {
        border-right: $border-width-regular solid $brand-primary;
        background: linear-gradient(to left, rgba($brand-primary, 0.02) 15%, $color-surface-light 85%);
        color: $brand-secondary;
    }

    /** Poor man's reset **/
    * {
        box-sizing: border-box;
    }

    /** Content and Pane sizing **/
    .main {
        display: grid;
        grid-template-columns: 1fr 14em;
        max-width: 100em;
        width: 90%;
        margin: 0 $space-3xl 0 auto;
        gap: $space-3xl;
    }

    .container {
        padding-right: 4.25rem;
    }

    .content {
        padding-top: $space-4xl;
    }

    .section.is-medium.main {
        padding: $space-lg $space-3xs 5.25rem $space-hero;
    }
}
