{{ define "main" }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

{{ $pages := .Pages }}
{{ $paginator := .Paginate $pages }}

<section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-centered-tablet-portrait">
                <h1 class="title section-title">{{ .Title }}</h1>
                <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
                <div class="divider"></div>
            </div>
        </div>

        <div class="content">
            {{ .Content }}
        </div>
    </div>

    <div class="container">
        <div class="page-navigation">
            {{ if .NextInSection }}
            <a href="{{.NextInSection.Permalink}}" class="nav-item">Previous Chapter: {{ .NextInSection.Title }}</a>
            {{ end }}
            {{ if .PrevInSection }}
            <a href="{{.PrevInSection.Permalink}}" class="nav-item">Next Chapter: {{ .PrevInSection.Title }}</a>
            {{ end }}
        </div>
    </div>

</section>


{{ with $paginator }}
    <div class="pagination">
        {{ if $paginator.HasPrev }}
        <li class="pagination__item pagination__item--previous">
            <a href="{{ $paginator.Prev.URL }}" class="pagination__link pagination__link--previous">
                «
            </a>
        </li>
        {{ end }}

        {{ if $paginator.HasNext }}
        <li class="pagination__item pagination__item--next">
            <a href="{{ $paginator.Next.URL }}" class="pagination__link pagination__link--next">
                »
            </a>
        </li>
        {{ end }}
    </div>
{{end}}

{{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
{{ end }}

{{ end }}