:root {
  --docsifytabs-border-color: #d4dfea;
  --docsifytabs-border-radius-px: 0.75em;
}

.app-name-link img {
  max-height: 3.75rem;
}

summary {
  cursor: pointer;
  list-style: none;
  font-weight: 600;
  color: #505d6b;
  font-size: 1.125rem;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
  display: flex;
  border-bottom: 2px dotted #edeef0;
  background: #ffffff;
  padding: 0.75em;
}
summary::-webkit-details-marker {
  display: none;
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 2px solid var(--theme-color, #42b983);
}

details summary::before {
  color: #505d6b;
  font-weight: 600;
  margin-right: 1.75em;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
  transition: transform 0.1s;
  content: ">";
  display: block;
}

/* By using [open] we can define different styles when the disclosure widget is open */
details[open] summary::before {
  transform: rotate(90deg);
  color: var(--theme-color, #42b983);
  font-weight: 600;
}

details {
  border-radius: 0 var(--docsifytabs-border-radius-px)
    var(--docsifytabs-border-radius-px) var(--docsifytabs-border-radius-px);
  background: #edeef05c;
  border-top: 0;
  margin-top: calc(0px - var(--docsifytabs-border-px));
  padding: 0.5em;
  margin-bottom: 0.75em;
}

/* STYLE OVERRIDES */

.markdown-section h1 {
  border-bottom: 1px solid var(--theme-color, #42b983);
  clear: both;
  display: block;
  padding-top: 2.5rem;
}

.markdown-section h2 {
  border-bottom: 1px dotted var(--theme-color, #42b983);
  clear: both;
  display: block;
  padding-top: 1.75rem;
}

/* From: https://stackoverflow.com/questions/255170/markdown-and-image-alignment */
img {
  border-radius: 1.25rem;
}

img[alt$=">"] {
  float: right;
  margin-left: 2.75rem;
  padding: 0.5rem;
}

img[alt$="<"] {
  float: left;
  margin-right: 2.75rem;
  padding: 0.5rem;
}

img[alt$="><"] {
  padding: 0.5rem;
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none !important;
}

.markdown-section blockquote {
  clear: both;
}

.alert.flat {
  clear: both;
}

.markdown-section hr {
  border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
  border-bottom: 1px dashed #175574;
  margin: 2.75rem 0;
}


/* Keyboard key presses, using deepblue style from  https://github.com/auth0/kbd/blob/gh-pages/kbd.css*/
kbd {

  display: inline-block;
  margin: 0 .125em;
  padding: .1em .45em;
  font-family: var(--ff-sans);
  font-size: 0.65rem;
  line-height: var(--s-prose-line-height);
  color: var(--black-800);
  text-shadow: 0 1px 0 var(--white);
  background-color: #23547715;
  border-radius: 0.5rem;
  box-shadow: 0 1px 1px 23547715,inset 0 1px 0 0 hsl(0,0%,100%);
  overflow-wrap: break-word;

  text-transform: uppercase;
}

kbd:hover,
kbd:hover * {
  background: #0290e8;
  color: white;
  cursor: default;
}
