:root {
	--docsifytabs-border-color: #d4dfea;
	--docsifytabs-tab-background: transparant;
	--docsifytabs-border-radius-px: 0.75em;
}

.app-name-link {
	background: #1c2022;
	display: block;
	width: fit-content;
	height: fit-content;
	clear: both;
	margin: auto;
	border-radius: 55%;
}

.app-name-link img {
	max-height: 3.75rem;
}

summary {
	cursor: pointer;
	list-style: none;
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.6rem;
	word-spacing: 0.05rem;
	display: flex;
	border-bottom: 1px solid #24557875;
	padding: 0.75em;
}

summary::-webkit-details-marker {
	display: none;
	padding: 0.5em;
}

details[open] summary {
	border-bottom: 2px solid var(--theme-color, #42b983);
}

details summary::before {
	color: #255787;
	font-weight: 600;
	margin-right: 1.75em;
	line-height: 1.6rem;
	word-spacing: 0.05rem;
	transition: transform 0.1s;
	content: ">";
	display: block;
}

/* By using [open] we can define different styles when the disclosure widget is open */
details[open] summary::before {
	transform: rotate(90deg);
	color: var(--theme-color, #42b983);
	font-weight: 600;
}

details {
	border-radius: 0 var(--docsifytabs-border-radius-px) var(--docsifytabs-border-radius-px) var(--docsifytabs-border-radius-px);
	border-top: 0;
	margin-top: calc(0px - var(--docsifytabs-border-px));
	padding: 0.5em;
	margin-bottom: 0.75em;
}

/* STYLE OVERRIDES */

.markdown-section h1 {
	border-bottom: 1px solid var(--theme-color, #42b983);
	clear: both;
	display: block;
	padding-top: 2.5rem;
}

.markdown-section h2 {
	border-bottom: 1px dotted var(--theme-color, #42b983);
	clear: both;
	display: block;
	padding-top: 1.75rem;
}

/* From: https://stackoverflow.com/questions/255170/markdown-and-image-alignment */
img {
	border-radius: 1.25rem;
}

img[alt$=">"] {
	float: right;
	margin-left: 2.75rem;
	padding: 0.5rem;
}

img[alt$="<"] {
	float: left;
	margin-right: 2.75rem;
	padding: 0.5rem;
}

img[alt$="><"] {
	padding: 0.5rem;
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
	float: none !important;
}

.medium-zoom-image {
	cursor: crosshair !important;
}

.markdown-section blockquote {
	clear: both;
}

.alert::before {
	margin-top: 0.75rem;
}

.alert {
	clear: both;
}

.alert.flat {
	clear: both;
}

.alert.callout {
	border-color: #fefefe10 !important;
}

.alert.callout.quote {
	border-left-color: #662fb7 !important;
	border-left-width: .25rem !important;
}

.alert.callout.quote .title {
	color: #662fb7;
}

	/* Keyboard key presses, using deepblue style from  https://github.com/auth0/kbd/blob/gh-pages/kbd.css*/
kbd {
	display: inline-block;
	margin: 0 .125em;
	padding: .1em .45em;
	font-family: var(--ff-sans);
	font-size: 0.65rem;
	line-height: var(--s-prose-line-height);
	color: var(--black-800);
	text-shadow: 0 1px 0 var(--white);
	background-color: #23547715;
	border-radius: 0.5rem;
	box-shadow: 0 1px 1px 23547715, inset 0 1px 0 0 hsl(0, 0%, 100%);
	overflow-wrap: break-word;

	text-transform: uppercase;
}

kbd:hover,
kbd:hover * {
	background: #0290e8;
	color: white;
	cursor: default;
}

.markdown-section hr {
	border-top-style: none;
	border-right-style: none;
	border-bottom: 1px dashed #175574;
	border-left-style: none;
	margin: 2.75rem 0;
}

.accordion {
	margin-bottom: 1.25rem;
	padding-bottom: 2rem;;
}

.footnote-reference-symbol > .emoji {
	display: none;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

.app-sub-sidebar::before {
	content: "";
	display: block;
	font-weight: 450;
	font-size: 0.65rem;
	text-transform: uppercase;
	border-bottom: 1px dotted;
	/*padding-left: 0.25rem;*/
	margin-left: -0.75rem;
	margin-top: -0.5rem;
	width: 20%;
}
.app-sub-sidebar {
	border-left: 1px dotted;
	padding: 0 0.25rem !important;
	margin: 0.125rem 0.25rem 0.25rem 0.25rem !important;
	/*margin-left: -0.75rem !important;*/
}

.markdown-section table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1rem;
	display: table;
	overflow: auto;
}

.markdown-section {
	margin: 0 auto;
	max-width: 72%;
	padding: 0.3rem 0.25rem 0.4rem 0.25rem;
	position: relative;
	line-break: auto;
	word-break: break-word;
}

.content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	transition: left 250ms ease;
	padding: 0.25rem 2.75rem 0.75rem;
}

@media only screen and (min-width: 1440px) {
	.content {
		left: 300px;
	}
}

.sidebar-toggle {
	top: 0;
	bottom: unset;
	background-color: transparent !important;
}

.anchor {
	color: var(--text_color) !important;
}

.anchor span {
	color: var(--text_color) !important;
}

.anchor:hover {
	text-decoration: none;
	color: var(--theme-color) !important;
}

.app-nav {
	display: none;
}

@media only screen and (min-width: 1440px) {
	.app-nav {
		display: block;
	}
}

.app-nav {
	color: var(--text_color) !important;
}

.sidebar ul li a {
	color: var(--text_color) !important;
}

.medium-zoom--opened .medium-zoom-overlay {
	background: var(--docsify_dark_mode_bg) !important;
}

#CHANGELOG_RENDERER * {
	background: var(--docsify_dark_mode_bg) !important;
}

body {
	color: var(--text_color) !important;
}

.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section strong {
	color: var(--ttextColor) !important;
	clear: both;
	padding-top: 0.45rem;
}

.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section em {
	color: var(--text_color) !important;
	clear: both;
	padding-top: 0.45rem;
}

.markdown-section code, .markdown-section pre {
	background-color: #12141505 !important;
}

#dark_mode > input[type="checkbox"] {
	display: none;
}

#dark_mode > label::after {
	content: "";
	background: #fff;
	width: 1rem;
	height: 1rem;
	top: 0;
}
#dark_mode > label {
	cursor: pointer;
	text-indent: -9999px;
	width: 2.25rem;
	height: 1.15rem;
	margin-top: 0.25rem;
}
#dark_mode {
	position: absolute;
	top: 0;
	left: 0;
	right: unset;
}
#dark_mode > label::before {
	content: "go dark";
}

/* Table overrides */
.markdown-section tr:nth-child(2n) {
	background-color: #0290e815;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	.markdown-section td {
		/* Behave  like a "row" */
		padding: 0.5rem 0.25rem 0.25rem 5rem;
		position: relative;
	}

	.markdown-section td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 4.5rem;
		white-space: break-spaces;
		font-size: 0.7rem;
	}
}

section.cover.has-mask .mask {
	opacity: 0.85;
	background: #0b1d27;
}

.cover-main .anchor span {
	color: white !important;
}
