
@import "paraiso-dark.css";

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }

.highlight pre {
    overflow-x: scroll;
}

.rouge-code pre {
    overflow-x: hidden;
}

.lineno pre {
    overflow-x: hidden;
}


