{{ $original_src := .Get "src" }}
{{ $src := replace $original_src ".png" "" | absURL }}
{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}

{{ if $caption }}
<div class="gallery">
    <figure>
        <a class="search-icon" target="_blank" href="{{ $src }}.png">
            <picture>
                <source srcset="{{ $src }}.png" type="image/png"/>
                <img src="{{ $src }}.png" type="image/png" alt="{{ $alt }}" decoding="async"/>
            </picture>
        </a>
        <figcaption>{{ $caption }}</figcaption>
    </figure>
</div>
{{ else }}
<div class="text_image">
    <a class="search-icon" target="_blank" href="{{ $src }}.png">
        <picture>
            <source srcset="{{ $src }}.png" type="image/png"/>
            <img src="{{ $src }}.png" type="image/png" alt="{{ $alt }}" decoding="async"/>
        </picture>
    </a>
</div>
{{ end }}
