{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}

{{ if $caption }}
<div class="img-gallery">
    <figure>
        <a class="search-icon" target="_blank" href="{{ $src }}">
            <picture>
                <source srcset="{{ $src }}" type="image/png"/>
                <img src="{{ $src }}" type="image/png" alt="{{ $alt }}" decoding="async"/>
            </picture>
        </a>
        <figcaption>{{ $caption }}</figcaption>
    </figure>
</div>
{{ else }}
<div class="text_image">
    <a class="search-icon" target="_blank" href="{{ $src }}">
        <picture>
            <source srcset="{{ $src }}" type="image/png"/>
            <img src="{{ $src }}" type="image/png" alt="{{ $alt }}" title="{{ $alt }}" decoding="async"/>
        </picture>
    </a>
</div>
{{ end }}
