<!--APA format: Last name, Initials. (Year). Book title. (Contributor initials, last name, role.) (Edition). City, State/Country: Publisher.-->

{{ $author := .Get "author" }}
{{ $year := .Get "year" }}
{{ $isbn := .Get "isbn" }}
{{ $title := .Get "title" }}
{{ $loc := .Get "location" }}
{{ $publisher := .Get "publisher" }}
{{ $publication := .Get "publication" }}
{{ $volume := .Get "volume" }}
{{ $link := .Get "link" }}
{{ $site := .Get "site" }}

{{ if $site}}
    <div class="reference">
        {{ $author }} ({{ $year}}). {{ $title }}. {{$site}}. <br /><a href="{{ $link }}" target="_blank" rel="noreferrer"> {{$link}}</a>.
    </div>
{{else if $publication}}
    <div class="reference">
        {{ $author }} ({{ $year}}). {{ $title }}. {{$publication}}{{if $volume}}, {{$volume}}{{end}}. <br /><a href="{{ $link }}" target="_blank" rel="noreferrer"> {{$link}}</a>.
    </div>
{{else}}
    <div class="reference">
        {{ $author }} ({{ $year}}). {{ $title }}. {{ if $publisher }} {{ if $loc }}{{ $loc }}:{{ end }} {{ $publisher }}. {{if $isbn }}isbn: {{$isbn}}. {{ end }} {{ end }} {{if $link}} <br /><a href="{{$link}}" target="_blank" rel="noreferrer">{{$link}}</a>.{{end}}
    </div>
{{end}}