{{ $text := .Get "text" }}

<div class="alert-container">
    <blockquote class="groucho stub">
        Due to it’s online nature, this work in in perpetual motion. This section has not yet been completed. If you are
        interested in adding content here, please refer to the <a
            href="https://github.com/sddevelopment-be/penguin-pragmatic-patterns/blob/content/software_patterns/CONTRIBUTING.md"
            target="_blank">“How to contribute”</a> guide on github.

        {{ $text | markdownify }}
    </blockquote>
</div>

