{{ $term := .Get "name" | lower }}
{{ $title := .Get "title" | default $term }}
{{ $entry := slice }}



{{ range site.Data.glossary.terminology }}
    {{ $matchers := slice  }}
    {{ $matchers = $matchers | append (lower .name) }}
    {{ $matchers = $matchers | append (apply .aliases "lower" ".") }}
    {{ $matchers = $matchers | append (lower .abbreviation) }}
    {{ if in (apply $matchers "lower" "." ) $term }}
        {{ $entry = . }}
    {{ end }}
{{ end }}


{{ if $entry }}
    <details class="glossary-inline">
        <summary>{{ $title }}</summary>
        <div class="glossary-popover">
            {{with $entry }}
                <p class="glossary-popover-title"> {{ .name }} </p>
                <p>{{ .description | markdownify }}</p>
                See: <a href="/glossary/#{{ .name | urlize }}" target="_blank">{{ $title }}</a>
            {{ end }}
        </div>
    </details>
{{ else }}
    <details class="glossary-inline">
        <summary>{{ $title }}</summary>
        <div class="glossary-popover">
            <p>Sorry, no definition found for {{ $term }}.</p>
        </div>
    </details>
{{ end }}

