{{ define "main" }}
    <main id="main-content" class="site-main" role="main" tabindex="-1">
    {{ partial "navbar.html" . }}
    {{ partial "navbar-clone.html" . }}

    {{ partial "title-section.html" . }}

    <section class="hero is-default section-feature-grey is-medium" id="primer-intro">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-10 is-offset-1 landing-caption vert-align">
                        {{ .Content | markdownify }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-feature-grey is-medium" id="primers">
        <div class="container">
            <div class="pattern-list">

                {{ range .Sections.ByTitle }}
                    <div class="column is-centered-tablet-portrait section-header">
                        <a id="{{ .Title | lower | urlize }}">
                            <h2 class="subtitle">
                                {{ .Title | upper }}
                            </h2>
                        </a>
                    </div>
                    <div class="is-multiline is-centered-tablet-portrait">
                        {{ $patterns := slice }}
                            {{ range .Pages }}
                            {{ $ctx := dict
                                "Date" .Date
                                "Title" .Title
                                "SubTitle" .Params.subtitle
                                "Image" .Params.image
                                "RelPermalink" .RelPermalink
                                "Description" .Description
                                "Summary" .Summary
                                "Tags" .Params.tags
                                "Lastmod" .Lastmod
                                "ReadingTime" .ReadingTime
                            }}
                            {{ $patterns = $patterns | append $ctx }}
                            {{ end }}
                        {{ partial "flex_cards.html" (dict "context" . "patterns" $patterns) }}
                    </div>
                {{ end }}
            </div>
        </div>
    </section>

    {{ if .Site.Params.footer }}
        {{ partial "footer.html" . }}
    {{ end }}

    </main>

{{ end }}
