{{ define "main" }}
<main id="main-content" class="site-main" role="main" tabindex="-1">
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

{{ partial "title-section.html" . }}

<section class="hero is-default section-feature-grey is-medium" id="primer-intro">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-10 is-offset-1 landing-caption vert-align">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium" id="primer-list">
    <div class="container">
        <div class="pattern-list">
            {{ range .Pages.ByTitle }}
            <article class="card pattern-card primer revealOnScroll delay-1" data-animation="fadeInLeft" onclick="location.href='{{ .RelPermalink }}';" style="cursor:pointer;">
                <div class="card-title-wrapper">
                    <div class="card-image">
                        <a href="{{ .RelPermalink }}" title="In-depth description of {{ .Title }}">
                            {{ if .Params.Image }}
                            <img src="/images/thumbnails/{{ .Params.Image }}.webp" alt="{{ .Title }}">
                            {{ else }}
                            <img src="/images/placeholder.webp" alt="{{ .Title }}">
                            {{ end }}
                        </a>
                    </div>
                    <div class="card-title">
                        <a href="{{ .RelPermalink }}" class="" title="In-depth description of {{ .Title }}"><h4>{{ .Title }}</h4></a>
                        {{ if .Draft }}<span class="tag is-warning is-light">Draft</span>{{ end }}
                        <h5 title="In-depth description of {{ .Title }}">{{ .Params.SubTitle }}</h5>
                        <div class="tags">
                            {{ range .Params.tags }}<span class="tag">{{ . }}</span>{{ end }}
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <p>{{ .Summary }}</p>

                    <div class="meta is-size-7 has-text-grey">
                        Last updated {{ .Lastmod.Format "02 Jan 2006" }} · {{ .ReadingTime }} min read
                    </div>
                </div>
            </article>
            {{ end }}
        </div>
    </div>
</section>

{{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
{{ end }}

</main>

{{ end }}
