{{ define "main" }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

<section class="section section-feature-grey is-medium" id="books">
    <div class="container">
        <div class="column is-centered-tablet-portrait">
            <h1 class="title section-title">
                {{ .Title }}
            </h1>
            <div class="divider"></div>
        </div>

        <div class="content-wrapper">

            <div class="content">
                {{ .Content }}
            </div>
            <br /><br />

            <div class="column is-centered-tablet-portrait">
                <h1 class="title section-title">
                    List of books
                </h1>
                <div class="divider"></div>
            </div>

            <div class="recommendation-wrapper">
                {{ range $book := (sort (index .Site.Data "bibliography").book "minimized_title" "asc") }}
                    {{ if and (not $book.draft) (not $book.unlisted)  }}
                        {{ partial "book_biblio.html" (dict "book" $book) }}
                    {{end}}
                {{ end }}
            </div>

        </div>

    </div>
</section>

{{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
{{ end }}

{{ end }}